/*
Theme Name: Greenpeace Planet 4 Child Theme GCEF
Theme URI: https://github.com/greenpeace/planet4-child-theme-gcefca
Description: Child theme for the GCEF website in the Planet 4 Wordpress project
Author: Greenpeace International
Author URI: https://github.com/greenpeace
Template: planet4-master-theme
Version: 0.2
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: light, accessibility-ready
Text Domain: planet4-child-theme-gcefca
*/

/*
  Display which theme is active right now in bottom right corner
  See also planet4-child-theme-gcefca. Feel free to drop or hide display
*/

.navbar-dropdown {
  justify-content: flex-end !important;
}

@media (min-width: 992px) {
  .nav-link {
    margin: 0 15px !important;
    border-bottom: none !important;
  }
  .nav-link:hover,
  a.country-dropdown-toggle:hover {
    border-bottom: 2px solid #fff !important;
  }
}

.btn-primary {
  cursor: pointer;
  background: #05324c !important;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
}
.btn-primary:hover {
  cursor: pointer;
  background: #074365 !important;
  opacity: 0.8;
  border: none;
}

.split-two-column-item-image:before {
  background: linear-gradient(
    190deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  );
}

@media (max-width: 576px) {
  .item--right,
  .split-two-column-item-button,
  .split-two-column-item-link,
  .split-two-column-item-subtitle,
  .split-two-column-item-tag {
    display: block !important;
  }
  .split-two-column-item-image {
    position: relative !important;
  }
  .split-two-column-item-content {
    background: white;
    color: black;
  }
  .split-two-column-item-subtitle {
    margin-bottom: 0;
    font-weight: 300;
  }
  .split-two-column-item-image:before {
    display: none;
  }
  .split-two-column-item-subtitle,
  .split-two-column-item-title {
    padding: 10px;
  }
  .split-two-column-item.item--right > .split-two-column-item-image {
    display: none;
  }
}

.split-two-column {
  display: inline-block !important;
}

a.country-dropdown-toggle,
a.dropdown-toggle {
  text-transform: uppercase;
  padding: 0;
  margin: 0 15px !important;
  font-size: 1.25rem;
  line-height: 1.25em;
  font-weight: inherit;
  color: #fff;
}

.country-dropdown-toggle:after,
.dropdown-toggle:after,
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  background: none !important;
  display: none !important;
}

@media (min-width: 992px) {
  .country-list,
  .about-list,
  #sub-about {
    height: auto;
    width: 15%;
    left: auto;
  }

  .dropdown-menu.about {
    display: grid;
  }
  .country-list.open,
  .about-list.open {
    padding: 0px !important;
    height: auto;
  }

  .country-list.ul,
  .about-list.ul {
    column-count: none !important;
  }

  .country-list.li,
  .about-list.li {
    padding-left: 15px;
  }

  .nav-link.about:hover {
    border-bottom: none !important;
  }
}

@media (max-width: 992px) {
  a.country-dropdown-toggle,
  a.dropdown-toggle {
    padding: 0 35px !important;
    display: block;
    line-height: 2.8125rem;
    font-size: 1rem;
    margin: 0.5em 0;
    width: auto !important;
    background: transparent;
  }
}

.top-navigation {
  height: 4.75rem;
}

.site-logo img {
  height: 3rem !important;
}

@media (max-width: 992px) {
  .site-logo img {
    margin-top: 1rem;
  }
}
