<img src="{{ theme.path() }}/images/gcef-logo-{{site.language}}.png" alt="Greenpeace Canada Education Fund" data-ga-category="Menu Navigation" data-ga-action="Greenpeace Logo" data-ga-label="{{ page_category }}">
