{% block navigation_bar %}
	<nav id="header" class="top-navigation navbar {% if custom_styles.nav_border == 'border' %}navigation-bar_border{% endif %}">
		<a class="site-logo" href="{{ data_nav_bar.home_url }}">
			{% include 'blocks/site_logo_gcefca.twig' %}
		</a>
		{% set toggle_label = __( 'Toggle navigation menu', 'planet4-master-theme' ) %}
		{% set search_label = __( 'Search', 'planet4-master-theme' ) %}

		<button class="btn btn-navbar-toggle navbar-dropdown-toggle" data-bs-toggle="open" data-bs-target="#navbar-dropdown" aria-expanded="false" aria-label="{{ toggle_label }}">
			<span data-ga-category="Menu Navigation" data-ga-action="Open Menu" data-ga-label="{{ page_category }}">
				{{ __( 'Menu', 'planet4-master-theme' ) }}
			</span>
		</button>


		<ul id="navbar-dropdown" class="navbar-dropdown list-unstyled">

			{% for key,item in navbar_menu.get_items %}
				{% if 'wpml-ls-item' in item.class %}
					{% if key == 0 %}
						<li class="nav-item {{ item.class }}">
						{% endif %}
						<a class="nav-link" href="{{ item.get_link }}">{{ item.title|striptags }}</a>
						{% if key == (languages - 1) %}
						</li>
					{% endif %}

				{% elseif item.get_link ends with "/#about"  %}
					<li
						class="nav-item">
						{# the JS that controls the menu based on country-dropdown-toggle to detect the click #}
						<a class="country-dropdown-toggle dropdown-toggle" data-bs-toggle="open" data-bs-target="#sub-about" aria-expanded="false" aria-label="{{ data_nav_bar.country_dropdown_toggle }}" data-ga-category="Menu Navigation" data-ga-action="Open About Menu" data-ga-label="{{ page_category }}">
							{{ item.title }}
						</a>
					</li>

					{% if item.children %}
						<div id="sub-about" class="country-list about-list">
							<ul class="dropdown-menu about" aria-labelledby="dropdownMenuLink">
								{% for child in item.children %}
									<li class="nav-item about">
										<a class="nav-link about" href="{{ child.link }}">{{ child.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% else %}
					<li class="nav-item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
						{% if fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == act_page_id %}
							{% set link_ga_action = 'Act' %}
						{% elseif fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == explore_page_id %}
							{% set link_ga_action = 'Explore' %}

						{% else %}
							{% set link_ga_action = item.title %}
						{% endif %}
						<a class="nav-link" href="{{ item.get_link }}" data-ga-category="Menu Navigation" data-ga-action="{{ link_ga_action }}" data-ga-label="{{ page_category }}">
							{{ item.title }}
						</a>

						{% if item.children %}

							<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								{% for child in item.children %}
									<button class="btn btn-navbar-toggle navbar-dropdown-toggle" data-bs-toggle="open" data-bs-target="#navbar-dropdown" aria-expanded="false" data-ga-label="{{ toggle_label }}">
										<span data-ga-category="Menu Navigation" data-ga-action="Open Menu" data-ga-label="{{ page_category }}">
											{{ __( 'Menu', 'planet4-master-theme' ) }}
										</span>
									</button>

								{% endfor %}

							{% endif %}
						{% endif %}
					{% endfor %}

				</li>
			</ul>
		</li>
	</nav>
{% endblock %}</li>
