{% block navigation_bar %}
	<nav id="header" class="navigation-bar_min top-navigation navbar {% if custom_styles.nav_border == 'border' %}navigation-bar_border{% endif %}">
		<a
			class="site-logo" href="/images/gcef-logo{{language_attributes}}.png">
			{# <img src="/images/gcef-logo-en.png" alt="Greenpeace Canada Education Fund"> #}

			{% include 'blocks/site_logo_gcefca.twig' %}
		</a>

		<ul class="language-selector-min">
			{% for key,item in navbar_menu.get_items %}
				{% if 'wpml-ls-item' in item.class %}
					{% if key == 0 %}
						<li class="nav-item {{ item.class }}">
						{% endif %}
						<a class="nav-link" href="{{ item.get_link }}">{{ item.title|striptags|slice(0, 2) }}</a>
						{% if key == (languages - 1) %}
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>

	</nav>
{% endblock %}
